/*cada @media es un nuevo CSS, cada media query 
selecciona quye estilo usar de acuerdo  al tamaño
de la página web*/
@media(min-width: 1200px) { /*Este estilo se usara cuando la pantalla de resolución 
							sea 1200 px de ancho <= resolucion*/
	h1, #pie{
		text-align: center;
			}
	#menu, #contenido, #info{
					float: left;
					padding: 0;
					margin: 0;
							}
	#menu{width: 20%;}
	
	#contenido, #info {width: 40%;}
	
	#pie {clear: both;}
}

@media (min-width: 800px) and (max-width: 1199px){ /*Este estilo se usara cuando 
													la pantalla tenga una resolucion
													de 800px <= resolucion < 1200 px*/
	h1, #pie {text-align: center;}
	
	#menu{
		float: left;
		padding: 0;
		margin: 0;
		width: 20%
		 }
	
	#contenido{margin-left: 25%;}
	
	#info{margin-left: 25%;}
	
	#pie{clear: both;}
}

/*Cuando la pagina sea menor que 800px, no se le ha definnido estilo*/